@model IEnumerable<OnlineShop.Models.Order>

@using OnlineShop.Models
@using OnlineShop.Infrastructure.Extensions

@{
    ViewBag.Title = "Zamówienie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainContainer">
    @if (Model.Any())
    {
        foreach (var order in Model)
        {
            <table class="orderElements">
                <tr>
                    <th>
                        Dane zamawiającego
                    </th>
                    <th>
                        Komentarz do zamówienia
                    </th>
                    <th>
                        Data zamówienia
                    </th>
                    <th>
                        Status zamówienia
                    </th>
                    <th>
                        Wartość zamówienia
                    </th>
                </tr>
                <tr class="orderInfo" @if (order.StateOfOrder == OrderState.Ended) { <text> style="background-color: rgb(230, 246, 255)" </text> }>
                    <td class="personalInfo">
                        @order.PurchaserName @order.PurchaserSurname<br />
                        @order.PurchaserPhoneNumber<br />
                        @order.PurchaserEmail<br />
                        @order.PurchaserAdress<br />
                        @order.PurchaserPostCode
                    </td>
                    <td class="orderComment">
                        @order.Comment
                    </td>
                    <td class="orderDetails">
                        @String.Format("{0:yyyy/MM/dd}", order.OrderDate)<br />
                        @String.Format("{0:hh:mm:ss}", order.OrderDate)
                    </td>
                    <td class="orderDetails">
                        @if (ViewBag.IsAdmin)
                        {
                            using (Html.BeginForm("ChangeOrderState", "Manage", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();

                                foreach (var state in Enum.GetValues(typeof(OrderState)).Cast<OrderState>())
                                {
                                    @Html.RadioButtonFor(m => order.StateOfOrder, state)
                                    if (order.StateOfOrder == OrderState.Ended && state == OrderState.Ended)
                                    {
                                        <b>@state.GetDisplayName()</b>
                                    }
                                    else
                                    {
                                        @state.GetDisplayName()
                                    }
                                    <br />
                                }

                                @Html.HiddenFor(m => order.OrderId)
                                <input type="submit" value="Zmień" />
                            }
                        }
                        else
                        {
                            if (order.StateOfOrder == OrderState.Ended)
                            {
                                <b>@order.StateOfOrder.GetDisplayName()</b>
                            }
                            else
                            {
                                @order.StateOfOrder.GetDisplayName()
                            }

                        }
                    </td>
                    <td class="orderDetails">
                        @String.Format("{0:0.00}", order.Value) zł
                    </td>
                </tr>
                @foreach (var orderElement in order.OrderElements)
                {
                    <tr class="orderElemetInfo" @if (order.StateOfOrder == OrderState.Ended) { <text> style="background-color: rgb(230, 246, 255)" </text> }>
                        <td style="text-align:center;">
                            @orderElement.Product.Name
                        </td>
                        <td style="text-align:center; border: 1px solid black;">
                            Ilość: @orderElement.Amount
                        </td>
                        <td colspan="3" style="text-align:center;">
                            Wartość: @String.Format("{0:0.00}", orderElement.Value) zł
                        </td>
                    </tr>
                }
            </table>

            <br /><br /><br />
            <hr style="width:100%" />
            <br /><br /><br />
        }
    }
    else
    {
        <h1 class="emptyMessage">Nie posiadasz aktywnych zamówień</h1>
    }
</div>

