@model OnlineShop.Models.ViewModels.CartViewModel

@using OnlineShop.Helpers

@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainContainer">
    @if (Model.OrderElements.Count > 0)
    {
        <table id="cartTable">
            @foreach (var element in Model.OrderElements)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("ShowInformation", "Product", new { id = element.ProductElement.ProductId })">
                            <img src="@Url.GetProductImagePath(element.ProductElement.ImageName)" />
                        </a>
                    </td>
                    <td>
                        @element.ProductElement.Name - @element.ProductElement.Description
                    </td>
                    <td>
                        Ilość: @element.Amount
                    </td>
                    <td>
                        @String.Format("{0:0.00}", element.ProductElement.Price) zł
                    </td>
                    <td>
                        <a href="@Url.Action("RemoveFromCart", "Cart", new { id = element.ProductElement.ProductId })">
                            Usuń
                        </a>
                    </td>
                </tr>
            }
        </table>
        <div id="cartValue">
            Razem: @String.Format("{0:0.00}", Model.OrderValue) zł
        </div>
    }
    else
    {
        <h1 id="emptyCartMessage">Twój koszyk jest pusty</h1>
    }
    <div style="width:1000px;">
        <a class="linkButton" href="@Url.Action("Index", "Home")" style="float:left;">Kontynuuj zakupy</a>
        @if (Model.OrderElements.Count > 0)
        {
            <a class="linkButton" href="link" style="float:right;">Zapłać</a>
        }
    </div>
</div>